<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Opus</string>
		<key>tag</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G.729</string>
		<key>tag</key>
		<string>101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PCMA</string>
		<key>tag</key>
		<string>105</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PCMU</string>
		<key>tag</key>
		<string>106</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AMR</string>
		<key>tag</key>
		<string>102</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AMR-WB</string>
		<key>tag</key>
		<string>103</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GSM</string>
		<key>tag</key>
		<string>104</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iLBC</string>
		<key>tag</key>
		<string>107</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Speex-NB(8kHz)</string>
		<key>tag</key>
		<string>108</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Speex-WB(16kHz)</string>
		<key>tag</key>
		<string>109</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G.722</string>
		<key>tag</key>
		<string>110</string>
	</dict>
</array>
</plist>
