<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>unicode_type</key>
		<true/>
		<key>cover_pic</key>
		<string>u1f60a</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>u1f60a</string>
				<key>desc</key>
				<string>128522</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f628</string>
				<key>desc</key>
				<string>128552</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f60d</string>
				<key>desc</key>
				<string>128525</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f633</string>
				<key>desc</key>
				<string>128563</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f60e</string>
				<key>desc</key>
				<string>128526</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f62d</string>
				<key>desc</key>
				<string>128557</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f60c</string>
				<key>desc</key>
				<string>128524</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f635</string>
				<key>desc</key>
				<string>128565</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f634</string>
				<key>desc</key>
				<string>128564</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f622</string>
				<key>desc</key>
				<string>128546</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f605</string>
				<key>desc</key>
				<string>128517</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f621</string>
				<key>desc</key>
				<string>128545</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f61c</string>
				<key>desc</key>
				<string>128540</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f600</string>
				<key>desc</key>
				<string>128512</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f632</string>
				<key>desc</key>
				<string>128562</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f61f</string>
				<key>desc</key>
				<string>128543</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f624</string>
				<key>desc</key>
				<string>128548</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f61e</string>
				<key>desc</key>
				<string>128542</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f62b</string>
				<key>desc</key>
				<string>128555</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f608</string>
				<key>desc</key>
				<string>128520</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f609</string>
				<key>desc</key>
				<string>128521</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f62f</string>
				<key>desc</key>
				<string>128559</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f615</string>
				<key>desc</key>
				<string>128533</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f630</string>
				<key>desc</key>
				<string>128560</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f60b</string>
				<key>desc</key>
				<string>128523</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f61d</string>
				<key>desc</key>
				<string>128541</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f613</string>
				<key>desc</key>
				<string>128531</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f603</string>
				<key>desc</key>
				<string>128515</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f602</string>
				<key>desc</key>
				<string>128514</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f618</string>
				<key>desc</key>
				<string>128536</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f612</string>
				<key>desc</key>
				<string>128530</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f60f</string>
				<key>desc</key>
				<string>128527</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f636</string>
				<key>desc</key>
				<string>128566</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f631</string>
				<key>desc</key>
				<string>128561</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f616</string>
				<key>desc</key>
				<string>128534</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f629</string>
				<key>desc</key>
				<string>128553</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f614</string>
				<key>desc</key>
				<string>128532</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f611</string>
				<key>desc</key>
				<string>128529</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f61a</string>
				<key>desc</key>
				<string>128538</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f62a</string>
				<key>desc</key>
				<string>128554</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f607</string>
				<key>desc</key>
				<string>128519</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f64a</string>
				<key>desc</key>
				<string>128586</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f44a</string>
				<key>desc</key>
				<string>128074</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f44e</string>
				<key>desc</key>
				<string>128078</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u261d</string>
				<key>desc</key>
				<string>9757</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u270c</string>
				<key>desc</key>
				<string>9996</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f62c</string>
				<key>desc</key>
				<string>128556</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f637</string>
				<key>desc</key>
				<string>128567</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f648</string>
				<key>desc</key>
				<string>128584</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f44c</string>
				<key>desc</key>
				<string>128076</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f44f</string>
				<key>desc</key>
				<string>128079</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u270a</string>
				<key>desc</key>
				<string>9994</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4aa</string>
				<key>desc</key>
				<string>128170</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f606</string>
				<key>desc</key>
				<string>128518</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u263a</string>
				<key>desc</key>
				<string>9786</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f649</string>
				<key>desc</key>
				<string>128585</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f44d</string>
				<key>desc</key>
				<string>128077</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f64f</string>
				<key>desc</key>
				<string>128591</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u270b</string>
				<key>desc</key>
				<string>9995</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2600</string>
				<key>desc</key>
				<string>9728</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2615</string>
				<key>desc</key>
				<string>9749</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u26c4</string>
				<key>desc</key>
				<string>9924</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4da</string>
				<key>desc</key>
				<string>128218</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f381</string>
				<key>desc</key>
				<string>127873</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f389</string>
				<key>desc</key>
				<string>127881</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f366</string>
				<key>desc</key>
				<string>127846</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2601</string>
				<key>desc</key>
				<string>9729</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2744</string>
				<key>desc</key>
				<string>10052</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u26a1</string>
				<key>desc</key>
				<string>9889</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4b0</string>
				<key>desc</key>
				<string>128176</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f382</string>
				<key>desc</key>
				<string>127874</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f393</string>
				<key>desc</key>
				<string>127891</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f356</string>
				<key>desc</key>
				<string>127830</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2614</string>
				<key>desc</key>
				<string>9748</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u26c5</string>
				<key>desc</key>
				<string>9925</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u270f</string>
				<key>desc</key>
				<string>9999</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4a9</string>
				<key>desc</key>
				<string>128169</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f384</string>
				<key>desc</key>
				<string>127876</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f377</string>
				<key>desc</key>
				<string>127863</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3a4</string>
				<key>desc</key>
				<string>127908</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3c0</string>
				<key>desc</key>
				<string>127936</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f004</string>
				<key>desc</key>
				<string>126980</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4a3</string>
				<key>desc</key>
				<string>128163</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4e2</string>
				<key>desc</key>
				<string>128226</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f30f</string>
				<key>desc</key>
				<string>127759</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f36b</string>
				<key>desc</key>
				<string>127851</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3b2</string>
				<key>desc</key>
				<string>127922</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3c2</string>
				<key>desc</key>
				<string>127938</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4a1</string>
				<key>desc</key>
				<string>128161</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4a4</string>
				<key>desc</key>
				<string>128164</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f6ab</string>
				<key>desc</key>
				<string>128683</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f33b</string>
				<key>desc</key>
				<string>127803</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f37b</string>
				<key>desc</key>
				<string>127867</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3b5</string>
				<key>desc</key>
				<string>127925</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f3e1</string>
				<key>desc</key>
				<string>127969</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4a2</string>
				<key>desc</key>
				<string>128162</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f4de</string>
				<key>desc</key>
				<string>128222</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f6bf</string>
				<key>desc</key>
				<string>128703</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f35a</string>
				<key>desc</key>
				<string>127834</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f46a</string>
				<key>desc</key>
				<string>128106</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f47c</string>
				<key>desc</key>
				<string>128124</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f48a</string>
				<key>desc</key>
				<string>128138</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f52b</string>
				<key>desc</key>
				<string>128299</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f339</string>
				<key>desc</key>
				<string>127801</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f436</string>
				<key>desc</key>
				<string>128054</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f484</string>
				<key>desc</key>
				<string>128132</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f46b</string>
				<key>desc</key>
				<string>128107</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f47d</string>
				<key>desc</key>
				<string>128125</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f48b</string>
				<key>desc</key>
				<string>128139</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f319</string>
				<key>desc</key>
				<string>127769</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f349</string>
				<key>desc</key>
				<string>127817</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f437</string>
				<key>desc</key>
				<string>128055</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f494</string>
				<key>desc</key>
				<string>128148</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f47b</string>
				<key>desc</key>
				<string>128123</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f47f</string>
				<key>desc</key>
				<string>128127</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f48d</string>
				<key>desc</key>
				<string>128141</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f332</string>
				<key>desc</key>
				<string>127794</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f434</string>
				<key>desc</key>
				<string>128052</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f451</string>
				<key>desc</key>
				<string>128081</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f525</string>
				<key>desc</key>
				<string>128293</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u2b50</string>
				<key>desc</key>
				<string>11088</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u26bd</string>
				<key>desc</key>
				<string>9917</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f556</string>
				<key>desc</key>
				<string>128342</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u23f0</string>
				<key>desc</key>
				<string>9200</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f601</string>
				<key>desc</key>
				<string>128513</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u1f680</string>
				<key>desc</key>
				<string>128640</string>
			</dict>
			<dict>
				<key>image</key>
				<string>u23f3</string>
				<key>desc</key>
				<string>9203</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>unicode_type</key>
		<false/>
		<key>cover_pic</key>
		<string>Smirk</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>Smile</string>
				<key>desc</key>
				<string>Smile</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Grimace</string>
				<key>desc</key>
				<string>Grimace</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Drool</string>
				<key>desc</key>
				<string>Drool</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Scowl</string>
				<key>desc</key>
				<string>Scowl</string>
			</dict>
			<dict>
				<key>image</key>
				<string>CoolGuy</string>
				<key>desc</key>
				<string>CoolGuy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Sob</string>
				<key>desc</key>
				<string>Sob</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Shy</string>
				<key>desc</key>
				<string>Shy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Silent</string>
				<key>desc</key>
				<string>Silent</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Sleep</string>
				<key>desc</key>
				<string>Sleep</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Cry</string>
				<key>desc</key>
				<string>Cry</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Awkward</string>
				<key>desc</key>
				<string>Awkward</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Angry</string>
				<key>desc</key>
				<string>Angry</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Tongue</string>
				<key>desc</key>
				<string>Tongue</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Grin</string>
				<key>desc</key>
				<string>Grin</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Surprise</string>
				<key>desc</key>
				<string>Surprise</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Frown</string>
				<key>desc</key>
				<string>Frown</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Blush</string>
				<key>desc</key>
				<string>Blush</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Scream</string>
				<key>desc</key>
				<string>Scream</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Puke</string>
				<key>desc</key>
				<string>Puke</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Chuckle</string>
				<key>desc</key>
				<string>Chuckle</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Joyful</string>
				<key>desc</key>
				<string>Joyful</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Slight</string>
				<key>desc</key>
				<string>Slight</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Smug</string>
				<key>desc</key>
				<string>Smug</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Drowsy</string>
				<key>desc</key>
				<string>Drowsy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Panic</string>
				<key>desc</key>
				<string>Panic</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Sweat</string>
				<key>desc</key>
				<string>Sweat</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Laugh</string>
				<key>desc</key>
				<string>Laugh</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Commando</string>
				<key>desc</key>
				<string>Commando</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Determined</string>
				<key>desc</key>
				<string>Determined</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Scold</string>
				<key>desc</key>
				<string>Scold</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Shocked</string>
				<key>desc</key>
				<string>Shocked</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Shhh</string>
				<key>desc</key>
				<string>Shhh</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Dizzy</string>
				<key>desc</key>
				<string>Dizzy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Toasted</string>
				<key>desc</key>
				<string>Toasted</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Skull</string>
				<key>desc</key>
				<string>Skull</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Hammer</string>
				<key>desc</key>
				<string>Hammer</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ByeBye</string>
				<key>desc</key>
				<string>ByeBye</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Speechless</string>
				<key>desc</key>
				<string>Speechless</string>
			</dict>
			<dict>
				<key>image</key>
				<string>NosePick</string>
				<key>desc</key>
				<string>NosePick</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Clap</string>
				<key>desc</key>
				<string>Clap</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Trick</string>
				<key>desc</key>
				<string>Trick</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Bah! L</string>
				<key>desc</key>
				<string>Bah! L</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Bah! R</string>
				<key>desc</key>
				<string>Bah! R</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Yawn</string>
				<key>desc</key>
				<string>Yawn</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Pooh-pooh</string>
				<key>desc</key>
				<string>Pooh-pooh</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Shrunken</string>
				<key>desc</key>
				<string>Shrunken</string>
			</dict>
			<dict>
				<key>image</key>
				<string>TearingUp</string>
				<key>desc</key>
				<string>TearingUp</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Sly</string>
				<key>desc</key>
				<string>Sly</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Kiss</string>
				<key>desc</key>
				<string>Kiss</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Whimper</string>
				<key>desc</key>
				<string>Whimper</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Cleaver</string>
				<key>desc</key>
				<string>Cleaver</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Watermelon</string>
				<key>desc</key>
				<string>Watermelon</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Beer</string>
				<key>desc</key>
				<string>Beer</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Coffee</string>
				<key>desc</key>
				<string>Coffee</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Pig</string>
				<key>desc</key>
				<string>Pig</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Rose</string>
				<key>desc</key>
				<string>Rose</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Wilt</string>
				<key>desc</key>
				<string>Wilt</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Lips</string>
				<key>desc</key>
				<string>Lips</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Heart</string>
				<key>desc</key>
				<string>Heart</string>
			</dict>
			<dict>
				<key>image</key>
				<string>BrokenHeart</string>
				<key>desc</key>
				<string>BrokenHeart</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Cake</string>
				<key>desc</key>
				<string>Cake</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Bomb</string>
				<key>desc</key>
				<string>Bomb</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Poop</string>
				<key>desc</key>
				<string>Poop</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Moon</string>
				<key>desc</key>
				<string>Moon</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Sun</string>
				<key>desc</key>
				<string>Sun</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Hug</string>
				<key>desc</key>
				<string>Hug</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ThumbsUp</string>
				<key>desc</key>
				<string>ThumbsUp</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ThumbsDown</string>
				<key>desc</key>
				<string>ThumbsDown</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Shake</string>
				<key>desc</key>
				<string>Shake</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Peace</string>
				<key>desc</key>
				<string>Peace</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Salute</string>
				<key>desc</key>
				<string>Salute</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Beckon</string>
				<key>desc</key>
				<string>Beckon</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Fist</string>
				<key>desc</key>
				<string>Fist</string>
			</dict>
			<dict>
				<key>image</key>
				<string>OK</string>
				<key>desc</key>
				<string>OK</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Hey</string>
				<key>desc</key>
				<string>Hey</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Smirk</string>
				<key>desc</key>
				<string>Smirk</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Facepalm</string>
				<key>desc</key>
				<string>Facepalm</string>
			</dict>
			<dict>
				<key>image</key>
				<string>Smart</string>
				<key>desc</key>
				<string>Smart</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>unicode_type</key>
		<false/>
		<key>cover_pic</key>
		<string>doge</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>baibai</string>
				<key>desc</key>
				<string>Bye</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beishang</string>
				<key>desc</key>
				<string>sad</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bingbujiandan</string>
				<key>desc</key>
				<string>Not simple</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bishi</string>
				<key>desc</key>
				<string>despise</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bizui</string>
				<key>desc</key>
				<string>To shut up</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chanzui</string>
				<key>desc</key>
				<string>glutton</string>
			</dict>
			<dict>
				<key>image</key>
				<string>miao</string>
				<key>desc</key>
				<string>Meow</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chigua</string>
				<key>desc</key>
				<string>Eat melon</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chijing</string>
				<key>desc</key>
				<string>be amazed</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dahaqi</string>
				<key>desc</key>
				<string>yawn</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dalian</string>
				<key>desc</key>
				<string>Hit the face</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ding</string>
				<key>desc</key>
				<string>Ding</string>
			</dict>
			<dict>
				<key>image</key>
				<string>doge</string>
				<key>desc</key>
				<string>dog</string>
			</dict>
			<dict>
				<key>image</key>
				<string>erha</string>
				<key>desc</key>
				<string>Husky</string>
			</dict>
			<dict>
				<key>image</key>
				<string>feijie</string>
				<key>desc</key>
				<string>Confused</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guile</string>
				<key>desc</key>
				<string>kneel</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guzhang</string>
				<key>desc</key>
				<string>applaud</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haha</string>
				<key>desc</key>
				<string>Haha</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haixiu</string>
				<key>desc</key>
				<string>shy</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ku</string>
				<key>desc</key>
				<string>Cool</string>
			</dict>
			<dict>
				<key>image</key>
				<string>kelian</string>
				<key>desc</key>
				<string>Poor</string>
			</dict>
			<dict>
				<key>image</key>
				<string>han</string>
				<key>desc</key>
				<string>sweat</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heiheihei</string>
				<key>desc</key>
				<string>Laughing</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heixian</string>
				<key>desc</key>
				<string>black line</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heng</string>
				<key>desc</key>
				<string>Humph</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaixiao</string>
				<key>desc</key>
				<string>Bad laugh</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaxin</string>
				<key>desc</key>
				<string>Flower heart</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jiyan</string>
				<key>desc</key>
				<string>Winking</string>
			</dict>
			<dict>
				<key>image</key>
				<string>keai</string>
				<key>desc</key>
				<string>lovely</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
